.user-show-users-box
  - @user_comments.each do |comment|
    .users-show-layout
      = link_to post_path(comment.post_id) do
        %p= comment.post.title
        %p.users-show-maybytitle= comment.content
      - if comment.user_id == current_user.id
        #user_comment_destroy
          = render partial: "comments/destroy" , locals: { comment: comment }