<div class="user-show-users-box">
  <% @comments.each do |comment|%>
    <div class="users-show-layout">
      <%= link_to("/posts/#{comment.post_id}/show") do %>
        <p><%= comment.post.name %></p>
        <p class="users-show-maybytitle"><%= comment.content %></p>
      <% end %>
      <div id="user_comment_destroy">
        <%= render partial: "comments/user_come_destroy" , locals: { comment: comment } %>
      </div>
    </div>
  <%end%>
</div>