$("#js_user_come_index").html("#{ j(render partial: 'comments/user_come_index', locals: {user_comments: @user_comments}) }");
$("#js_come_index").html("#{ j(render partial: 'comments/index', locals: {comments: @comments}) }");
$(".js-comment-h2").html('コメント #{ @comments.count }件');