<div class="users-index-background">
  <div class="users-index-box">
    <h1 class="users-index-title">いいねしたユーザー 一覧(仮)</h1>

    <ul>
      <% @likes.each do |like| %>
        <li><%= like.likeusers.name %></li>
      <% end %>
    </ul>
  </div>
</div>