= render partial: 'num_of_follow', locals: { user: @user }
- if user.followable?(current_user)
  = render partial: 'follow_form', locals: { user: @user }
-# = user.follow_count
-# = link_to "フォロー", follow_list_user_path(user)
-# = user.followers_count
-# = link_to "フォロワー", follower_list_user_path(user)