%h2.omniauth_h2 次のアカウントで始めることができます
= link_to user_facebook_omniauth_authorize_path, method: "post" do
  .facebook 
    %i.fab.fa-facebook-f 
    %sapn Facebookでログイン
= link_to user_google_oauth2_omniauth_authorize_path, method: "post" do
  .google
    = image_tag "google_icon.svg", :width => "16", :height => "16"
    %sapn Googleでログイン
= link_to user_twitter_omniauth_authorize_path, method: "post" do
  .twitter
    %i.fab.fa-twitter
    %sapn twitterでログイン