<div class="user-new-background">
  <div class="user-new-formbox">
    <h1 class="user-new-mayby">新規登録</h1>
    <% @user.errors.full_messages.each do |message| %>
      <p style="color:red;"><%= message %></p>
    <% end %>
    <%= form_tag("/users/create") do%>
      <p>お名前</p>
      <input type="text" class="user-new-name" name="name" value="<%= @user.name %>">
      <p>メールアドレス</p>
      <input type="text" class="user-new-email" name="email" value="<%= @user.email %>">
      <p>パスワード</p>
      <input type="password" class="user-new-pass" name="pass">
      <input class="user-new-btn" type="submit" value="登録">
    <% end %>
  </div>
</div>