<div class="posts-index-background">
  <div class="index-box">
    <h1>ユーザーの詳細</h1>
    <img class="user_image" src="<%="/user_images/#{@current_user.image_name}"%>">
    <p><%= @current_user.name %>さん</p>
  </div>
</div>