.background-about
  .about-mayby-box
    .dammy
    .about-mayby
      %h1.about-h1 Mayby
      %p --- Make your hobby ---
      %h2.about-h2 Maybyとは
      %p 
      Maybyは新しい趣味を提案・共有・実践するためのウェブサービスです。
      %br
      あなたが好きなこと、面白いと思ったことをMaybyとして投稿して下さい。
      %br
      逆にあなたが興味をそそられたMaybyがあったら登録しておきましょう。

      %h2.about-h2 Maybyの目的<
      %p
      Maybyは子供の頃に誰もが持っていたワクワク・キラキラした気持ちを大人になった今、再び取り戻すために作られました。
      %br
      Maybyを通して、あなたの人生に彩を添える事が私の希望です。</p>
    .dammy
