<div class="background-about">
  <div class="about-mayby-box">
    <div class="dammy"></div>
    <div class="about-mayby">
      <h1 class="about-h1">Mayby</h1>
      <p>--- Make your hobby ---</p>
    
      <h2 class="about-h2">Maybyとは</h2>
      <p>Maybyは新しい趣味を提案・共有・実践するためのウェブサービスです。<br>
      あなたが好きなこと、面白いと思ったことをMaybyとして投稿して下さい。<br>
      逆にあなたが興味をそそられたMaybyがあったら登録しておきましょう。</p>

      <h2 class="about-h2">Maybyの目的</h2>
      <p>Maybyは子供の頃に誰もが持っていたワクワク・キラキラした気持ちを大人になった今、再び取り戻すために作られました。<br>
      </p>

      <p>Maybyを通して、あなたの人生に彩を添える事が私の希望です。</p>
    </div>
    <div class="dammy"></div>
  </div>
</div>
