<div class="background">
  <div class="title-box">
  <div class="intro-box">
    <p class="catch1">新しい趣味の発見、お手伝いアプリ</p>
    <p class="catch2">~ Make Your Hobby ~</p>
    <h1>Mayby</h1>
  </div>
    <div class="new-box">
    <% if user_signed_in?%>
      <p class="new-btn"><%= link_to "Maybyをつくろう", new_post_path %></p>
    <% else %>
      <p class="new-btn"><%= link_to "新規登録", new_user_registration_path %></p>
      <p class="new-btn"><%= link_to "ログイン", new_user_session_path %></p>
    <% end %>
    </div>
  </div>
</div>
