<div class="background">
  <div class="title-box">
  <div class="intro-box">
    <p class="catch1">新しい趣味の発見、お手伝いアプリ</p>
    <p class="catch2">~ Make Your Hobby ~</p>
    <h1>Mayby</h1>
  </div>
    <div class="new-box">
    <% if @current_user%>
      <p class="new-btn"><%= link_to("Maybyをつくろう","/posts/new") %></p>
    <% else %>
      <p class="new-btn"><%= link_to("新規登録はこちら","/users/new") %></p>
    <% end %>
    </div>
  </div>
</div>
