<div class="post-edit-background">
<div class="post-edit-formbox">
<h1 class="post-edit-mayby">編集ページ</h1>
<% @post.errors.full_messages.each do |message| %>
  <p style="color:red;"><%= message %></p>
<% end %>
<%= form_tag("/posts/#{@post.id}/update") do%>
  <p>Maybyの名前</p>
  <input type="text" class="post-edit-name" name="name" value="<%= @post.name %>">
  <p>遊び方</p>
  <textarea type="text" class="post-edit-email" name="howto"><%= @post.howto %></textarea>
  <input class="post-edit-btn" type="submit" value="変更">
<% end %>
</div>
</div>