<div class="posts-index-background">
  <div class="index-box">
    <h1>Mayby一覧</h1>
    <% @posts.each do |post| %>
      <div class="post-box">
        <p class="post">Maybyの名前</p>
        <p class="post"><%= post.name %></p>
        <p class="post">遊び方</p>
        <p class="post"><%= post.howto %></p>
        <%= link_to("消す","/posts/#{post.id}/destroy",{method:"post"}) %>
        <%= link_to("詳細","/posts/#{post.id}/show")  %>
      </div>
    <% end %>
  </div>
</div>
