<div class="post-new-background">
  <div class="post-new-formbox">
    <h1 class="post-new-mayby">新しいMaybyをつくる</h1>
    <% @post.errors.full_messages.each do |message| %>
      <p style="color:red;"><%= message %></p>
    <% end %>
  <%= form_tag("/posts/create") do%>
    <p>Maybyの名前</p>
    <input class="post-new-name" type="text" name="title" value="<%= @post.title %>">
    <p>遊び方</p>
    <textarea class="post-new-howto" name="howto"><%= @post.howto %></textarea>
  <div class="post-new-radio">
    <span >プレイ人数　　</span>
    <input type="radio" name="num_of_people" value="一人">一人
    <input type="radio" name="num_of_people" value="二人〜">二人〜
  </div>
  <div class="post-new-radio">
    <span>ワイモク度　　</span>
    <input type="radio" name="play_style" value="もくもく">もくもく
    <input type="radio" name="play_style" value="わいわい">わいわい
  </div>
  <input class="post-new-btn" type="submit" value="Maybyを作る">
<% end %>
</div>
</div>