<div class="posts-index-background">
  <div class="index-box">
    <h1>Maybyの詳細</h1>
    <img class="user_image" src="<%="/user_images/#{@user.image_name}"%>">
    <p><%= @user.name %>さん</p>
  </div>
</div>