// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// top
.background{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image:url("/background/amusement-park-1209681_1280.jpg");
  background-size: cover;
  width: 100%;
  height: calc(100vh - 40px);
}
.title-box{
  padding: 25px;
  background-color:rgba(207, 207, 207, 0.808);
  color: rgba(0, 0, 0, 0.966);
  border-radius: 5px;
  text-align: center;
}
.title-box .intro-box .catch1{
  font-size: 25px;
  padding: 20px;
  margin: 0;
}
.title-box .intro-box .catch2{
  margin: 0;
}
.title-box .intro-box h1{
  font-size: 60px;
  letter-spacing: 5px;
  padding: 30px 30px 20px 30px;
  font-family: 'Galada', cursive;
  margin: 0;
}
.new-box{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.new-btn a{
  display: inline-block;
  padding: 15px;
  background-color: rgba(231, 250, 200, 0.836);
  margin: 10px;
  width: 200px;
  text-align: center;
  border-radius: 5px;
  background-color: rgba(231, 250, 200, 0.836);
  cursor: pointer;
}
.new-btn a{
  background-color: rgba(215, 255, 151, 0.993);
  transition: all 0.2s;
  text-decoration: none;
  color: black;
}
// about
.background-about{
  background: url("/background/ferris-wheel-2618716_1280.jpg");
  background-size: cover;
  width: 100%;
  height: calc(100vh - 40px);
  background-position: bottom;
  display: flex;
  justify-content: center;
}
.about-mayby-box{
  background-color:rgba(236, 236, 236, 0.658);
  width: 80%;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.about-mayby{
  flex: 2;
}
.about-h1{
  padding-top: 50px;
  font-family: 'Galada', cursive;
  font-size: 60px;
}
.about-h2{
  margin-top: 50px;
  padding: 20px;
  font-family: 'Noto Serif JP', serif;
}
.dammy{
  flex: .5;
}

@media(max-width:674px){
  // top
  .title-box .intro-box .catch1 {
    font-size: 20px;
    margin: 10px 0;
    padding: 0;
  }
  .new-btn {
    margin: 0;
  }
  // about
  .about-mayby-box {
    width: 95%;
  }
  .about-h1 {
    padding-top: 35px;
  }
  .about-mayby p{
    margin-bottom: 25px;
  }
  .about-h2 {
    padding-top: 35px;
    font-size: 20px;
    font-weight: bold;
    margin: 0;
  }
}