// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// new
.post-new-background,.post-edit-background{
  background-image: url("/background/hall-1929422_1280.jpg");
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.post-new-formbox,.post-edit-formbox{
  background-color: rgba(255, 255, 255, 0.774);
  width: 80%;
  height: 100%;
  text-align: center;
}
h1.post-new-mayby,.post-edit-mayby{
  padding: 20px;
}
form p{
  padding: 10px;
}
input.post-new-name,.post-edit-name,.post-edit-email{
  font-size: 20px;
  width: 50%;
}
textarea.post-new-howto,.post-edit-howto{
  font-size: 20px;
  width: 50%;
  height: auto;
  margin: 0 auto;
  display: block;
}
.post-new-radio{
  margin: 15px auto;
  width: 300px;
  text-align: left;
}
input.post-new-btn,.post-edit-btn{
  display: block;
  padding: 5px;
  margin: 10px auto;
  background-color: rgba(231, 250, 200, 0.836);
  }

// index
.posts-index-background,.posts-show-background{
  background-image: url("/background/weathered-1576519_1280.jpg");
  width: 100%;
  min-height: 100vh;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.post-index-box,.post-show-box{
  width: 80%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.788);
  text-align: center;
}
.post-index-title{
  padding-top: 20px;
}
.post-index-sort{
  padding: 5px 0;
}
.post-index-layout{
  border:1px solid rgba(0, 0, 0, 0.788);
  width: 90%;
  margin: 0 auto;
  margin-bottom: 30px;
}
.post-index-mayby{
  border-bottom:1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-index-mayby .profile_name{
  font-size: 4px;
}
.post-index-mayby .mini_user_image{
  border-radius: 50%;
  width: 100%;
  height: auto;
  margin: 10px;
  max-width: 50px;
  max-width: 50px;
}

.howto-and-detail{
  display: flex;
}
.howto-box{
  flex: 1;
  border-right:1px solid black ;
}
.howto-box .howto-title{
  padding: 5px;
  border-bottom:1px solid black ;
}
.details{
  flex: 1;
  padding-bottom: 10px;
}
.post{
  width: 80%;
  border-bottom:1px solid rgba(0, 0, 0, 0.788);
  margin: 10px auto;
}
a.post-link{
  display: inline-block;
  padding: 5px 10px;
  background-color: rgba(231, 250, 200, 0.719);
  transition: all 0.2s;
}
a.post-link:hover{
  background-color: rgba(198, 233, 141, 0.993);
}
a.post-delite{
  display: inline-block;
  padding: 5px 10px;
  background-color: rgba(255, 161, 161, 0.719);
  transition: all 0.2s;
}
a.post-delite:hover{
  background-color: rgb(255, 87, 87);
}
a.post-like i{
  color: gray;
}
a.post-nolike i{
  color: yellow;
}
// show
.post-show-box .user_image{
  border-radius: 50%;
  width: 25%;
  height: auto;
  margin: 10px;
  max-width: 210px;
  max-width: 210px;
}
.post-show-box h1{
  padding-top: 20px;
}
.post-show-box p{
  padding: 10px;
}
.comment-h2{
  font-weight: normal;
  width: 50%;
  margin: 20px auto 0 auto;
  font-size: 15px;
  text-align: left;
}
.comment-show-box{
  width: 50%;
  margin: 5px auto;
  padding-bottom: 10px;
  background-color: rgb(235, 235, 235);
  border:1px solid black ;
  min-width: 320px;
}
p.comment-user{
padding: 0;
padding: 5px 0 5px 0;
text-align: left;
}
p.comment-content{
padding: 0;
padding: 20px 0;
text-align: left;
}
p.delete-come{
  padding: 0;
  padding: 3px 3px 3px 0;
  text-align: right;
}





