// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// new
.new-background{
  background-image: url("/hall-1929422_1280.jpg");
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-box{
  background-color: rgba(255, 255, 255, 0.774);
  width: 80%;
  height: 80%;
}
// index
.posts-index-background{
  background-image: url("/weathered-1576519_1280.jpg");
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.index-box{
  width: 80%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.788);
  text-align: center;
}
.index-box h1{
  padding: 80px 0 50px 0;
}
.post-box{
  border:1px solid rgba(0, 0, 0, 0.788);
  margin-bottom: 30px;
}
.post{
  width: 80%;
  border-bottom:1px solid rgba(0, 0, 0, 0.788);
  margin: 10px auto;
}
.last-post{
  margin: 10px;
}
