// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1{
  font-family: 'M PLUS Rounded 1c', sans-serif;
}
// new
.post-new-background,.post-edit-background{
  background-image: url("/background/new.jpg");
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.post-new-formbox,.post-edit-formbox{
  background-color: rgba(255, 255, 255, 0.774);
  width: 80%;
  height: 100%;
  text-align: center;
}
h1.post-new-mayby,.post-edit-mayby{
  padding: 20px;
}
form p{
  padding: 10px;
}
input.post-new-name,.post-edit-name,.post-edit-email{
  font-size: 20px;
  width: 50%;
}
textarea.post-new-howto,.post-edit-howto{
  font-size: 20px;
  width: 50%;
  height: auto;
  margin: 0 auto;
  display: block;
}
.post-new-radio{
  margin: 15px auto;
  width: 300px;
  text-align: left;
}
input.post-new-btn,.post-edit-btn{
  display: block;
  padding: 5px;
  margin: 10px auto;
  background-color: rgba(231, 250, 200, 0.836);
  }

// index
.posts-index-background,.posts-show-background{
  background-image: url("/background/marbles-1659398_1280.jpg");
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.post-index-box,.post-show-box{
  width: 80%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.788);
  text-align: center;
  position: relative;
}
.post-index-title{
  padding-top: 20px;
}
.post-index-sort{
  padding: 5px 0;
}
/* アコーディオン 検索 */
.info_open{
  cursor: pointer;
}
.info_open h3{
  display: inline-block;
}
.search-box{
  display: none;
  background-color: rgba(255, 255, 255, 0.87);
  padding: 10px;
  width: 95%;
  margin: 0 auto;
  text-align: left;
}
.search-box p{
  padding: 0;
}
.search-btn{
  text-align: center;
  margin: 5px;
}
.post-index-layout{
  border:1px solid rgba(0, 0, 0, 0.788);
  width: 90%;
  margin: 0 auto;
  margin-bottom: 30px;
}
.post-index-mayby{
  border-bottom:1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-index-mayby .profile_name{
  font-size: 4px;
}
.post-index-mayby .mini_user_image{
  border-radius: 50%;
  width: 100%;
  height: auto;
  margin: 10px;
  max-width: 50px;
  max-width: 50px;
}

.howto-and-detail{
  display: flex;
}
.howto-box{
  flex: 1;
  border-right:1px solid black ;
}
.howto-box .howto-title{
  padding: 5px;
  border-bottom:1px solid black ;
}
.details{
  flex: 1;
  padding-bottom: 10px;
}
.post{
  width: 80%;
  border-bottom:1px solid rgba(0, 0, 0, 0.788);
  margin: 10px auto;
}
a.post-link{
  display: inline-block;
  padding: 2px;
  background-color: rgba(237, 250, 57, 0.623);
  transition: all 0.2s;
  border-radius: 40%;
}
a.post-link:hover{
  background-color: rgb(237, 250, 57);
}
a.post-delite{
  display: inline-block;
  padding: 5px 10px;
  background-color: rgba(255, 161, 161, 0.719);
  transition: all 0.2s;
}
a.post-delite:hover{
  background-color: rgb(255, 87, 87);
}
a.post-like i{
  color: gray;
}
a.post-nolike i{
  color: yellow;
}
// show
.post-show-box .user_image{
  border-radius: 50%;
  width: 25%;
  height: auto;
  margin: 10px;
  max-width: 210px;
  max-width: 210px;
}
.post-edit-icon{
  position: absolute;
  right: 15px;
  top: 15px;
}
.form_comment{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin: 50px auto 10px auto;
  flex-wrap: wrap;
}
.comment{
  height: 25px;
  width: 250px;
}
.comment-btn{
  display: inline;
}
.post-show-box p{
  padding: 10px;
}
.comment-h2{
  font-weight: normal;
  font-size: 15px;
}
.comment-show-box{
  width: 95%;
  margin: 5px auto;
  padding-bottom: 10px;
  background-color: rgb(235, 235, 235);
  border:1px solid black ;
  position: relative;
}
p.comment-user{
padding: 0;
padding: 5px 0 5px 0;
text-align: left;
}
p.comment-content{
padding: 0;
text-align: left;
}
.comment-delete-icon{
position: absolute;
bottom: 0;
right: 5px;
}


@media(max-width:674px){
.post-index-box, .post-show-box {
    width: 95%;
}
input.post-new-name,.post-edit-name,.post-edit-email{
  width: 90%;
}
textarea.post-new-howto,.post-edit-howto{
  width: 90%;
}

}


