// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// new //login //update
.user-new-background,.user-login-background,.user-edit-background{
  background-image: url("/background/new.jpg");
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-new-formbox,.user-login-formbox{
  background-color: rgba(255, 255, 255, 0.774);
  width: 80%;
  height: 100%;
  text-align: center;
}
h1.user-new-mayby,.user-login-mayby,.user-edit-mayby{
  padding: 20px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}
form p{
  padding: 10px;
}
input.user-new-name,.user-new-email,
.user-new-pass,.user-login-email,
.user-login-pass,.user-edit-name,
.user-edit-email{
  font-size: 20px;
  width: 40%;
}
input.user-new-btn,.user-login-btn,.user-edit-btn,.update-btn{
  display: block;
  padding: 5px;
  margin: 10px auto;
  background-color: rgba(231, 250, 200, 0.836);
  cursor: pointer;
  }
  .delete{
    display: block;
    color: white;
    padding: 5px;
    margin: 10px auto;
    background-color: rgba(236, 57, 57, 0.836);
    cursor: pointer;
  }
  .option{
    padding-top: 20px;
  }

// index
.users-index-background,.users-show-background,.users-edit-background{
  background-image: url("/background/wall-416060_1280.jpg");
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.users-index-box,.users-show-box{
  width: 80%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.863);
  text-align: center;
}
.users-index-title,.users-show-title{
  padding-top: 20px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}
.users-index-sort{
  padding: 5px 0;
}
.users-index-lists{
  border-top: 1px solid black;
  padding-bottom: 10px;
}
.users-index-lists .user_image{
  border-radius: 50%;
  width: 25%;
  height: auto;
  margin: 10px;
  max-width: 210px;
  max-width: 210px;
}
.post{
  width: 80%;
  border-bottom:1px solid rgba(0, 0, 0, 0.788);
  margin: 10px auto;
}
a.users-link{
  display: inline-block;
  padding: 5px 10px;
  background-color: rgba(231, 250, 200, 0.719);
  transition: all 0.2s;
}
a.users-link:hover{
  background-color: rgba(198, 233, 141, 0.993);
}
a.users-delite{
  display: inline-block;
  padding: 5px 10px;
  background-color: rgba(255, 161, 161, 0.719);
  transition: all 0.2s;
}
a.users-delite:hover{
  background-color: rgb(255, 87, 87);
}

// show
.users-show-box .user_image{
  border-radius: 50%;
  width: 25%;
  height: auto;
  margin: 10px;
  max-width: 210px;
  max-width: 210px;
}
.follow-btn{
  display: inline-block;
  color: white;
  padding: 2px 4px;
  border-radius: 5px;
  margin-top: 10px;
  background-color: deepskyblue;
  transition: all .2s;
}
.follow-btn:hover{
  background-color: rgba(0, 162, 255, 0.877);
}
.unfollow-btn{
  display: inline-block;
  color: white;
  padding: 2px 4px;
  border-radius: 5px;
  margin-top: 10px;
  background-color:  deepskyblue;
  transition: all .2s;
}
.unfollow-btn:hover{
  background-color: deepskyblue;
}


.users-show-layout{
  padding: 10px;
  border-top:solid 1px black;
  position: relative;
  word-break: break-all;
}
.user-show-users-box{
  border-right:solid 1px black;
  border-left:solid 1px black;
  border-bottom: solid 1px black;
}
.edit-icon{
  text-align: right;
}
// タブ (コピペ)
.tab-wrap {
  display: flex;
  flex-wrap: wrap;
  margin:20px 0;
  min-width: 320px;
}
.tab-wrap:after {
  content: '';
  width: 100%;
  height: 3px;
  background: DeepSkyBlue;
  display: block;
  order: -1;
}
.tab-label {
  color: White;
  background: LightGray;
  font-weight: bold;
  text-shadow: 0 -1px 0 rgba(0,0,0,.2);
  white-space: nowrap;
  text-align: center;
  padding: 10px .5em;
  order: -1;
  position: relative;
  z-index: 1;
  cursor: pointer;
  border-radius: 5px 5px 0 0;
  flex: 1;
}
.tab-label:not(:last-of-type) {
  margin-right: 5px;
}
.tab-content {
  width: 100%;
  height: 0;
  overflow: hidden;
  opacity: 0;
}
/* アクティブなタブ */
.tab-switch:checked+.tab-label {
  background: DeepSkyBlue;
}
.tab-switch:checked+.tab-label+.tab-content {
  height: auto;
  overflow: auto;
  padding: 15px;
  opacity: 1;
  transition: .5s opacity;
  box-shadow: 0 0 3px rgba(0,0,0,.2);
}
/* ラジオボタン非表示 */
.tab-switch {
  display: none;
}

@media(max-width:1000px){

}

@media(max-width:674px){
  .users-show-box{
    width: 100%;
  }
  .tab-label{
    font-size: 15px;
  }
  input.user-new-name,.user-new-email,
.user-new-pass,.user-login-email,
.user-login-pass,.user-edit-name,
.user-edit-email{
  width: 90%;
}
}